.Todo{
    display: flex;
    width: 100%;
    height: 2.5rem;
    
   
    box-sizing: border-box;
    
}
.Todo span{
    
    width: 80%;
    line-height: 1.1rem;
    padding: 0.5rem 1.3rem;
    color: rgb(44, 44, 44);
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
/* .Todo button{
    width: 30px !important;
    padding: 0rem;
    box-sizing: border-box;
} */